@import "tailwindcss";

@layer base {
  body {
    /* Menggunakan font sistem Apple (San Francisco) secara native */
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f8fafc; /* Warna latar belakang abu-abu sangat muda (Tailwind slate-50) */
  }
}

/* Scrollbar tipis ala macOS */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15); /* Abu-abu transparan */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
